name: CI-DockerBuild

on: 
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: apbusinessit/devops-pipelines/docker/workflow.yml@main
    with:
      docker_image_name: hola-mundo-clase567
    secrets: inherit